/* custom css starts here */

td.actions .btn.btn-xs{
   padding:5px;
}
.user_view{
	width: 100%
}
.user_view td{
	padding-top: 10px;
	padding-bottom: 10px;
}
.user_view .key{
	width:200px;
}
.user_view .value{

}

.alert,.notice{
	position: absolute;
	z-index: 999;
	display: none;
}